<% subscriptions.each do |subscription| %>
  <strong>新規サブスク</strong>
  <ul>
    <li>氏名：<%= subscription.member.name %></li>
    <li>サブスクプラン：<%= subscription.subscription_plan.plan %></li>
    <li>契約期間：<%= subscription.period %>ヶ月</li>
    <li><%= link_to "詳細", subscriptions_path %></li>
  </ul>
<% end %>