<% subscriptions.each do |subscription| %>
<div class="container">
  <div class="row offset-4">
    <div>
      <strong>新規サブスク</strong>
    </div>

    <div>
      <ul>
        <li>氏名：<%= subscription.member.name %></li>
        <li>サブスクプラン：<%= subscription.subscription_plan.plan %></li>
        <li>契約期間：<%= subscription.period %>ヶ月</li>
        <li><%= link_to "詳細", subscriptions_path %></li>
      </ul>
    </div>
  </div>
</div>
<% end %>