<div class="container">
  <div class="row">
    <div class="border border-dark my-5 p-1">
      <h4>支払い方法編集</h4>
    </div>
  </div>

  <%= form_with model: @payment, url: admin_payment_path, local:true do |f| %>
  <div class="row d-flex justify-content-center">
    <div class="col-sm-2">
      <p><%=f.label :支払い方法 %></p>
    </div>
    <div>
      <p><%= f.text_field :payment_method %></p>
    </div>
  </div>

  <div class="row mt-4 d-flex justify-content-center">
    <div>
      <%= f.submit '変更を保存', class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>
