<div>
  <h4>サブスク会員一覧</h4>
    <div>
      <% @subscriptions.each do |subscription| %>
        <div>
          氏名
          サブスクプラン
          契約日
        </div>
        <div>
          <%= subscription.member.name %>
          <%= subscription.subscription_plan.plan %>
          <%= subscription.created_at.strftime('%Y/%m/%d') %>
        </div>
      <% end %>
    </div>
</div>