<div class="container">
	<div class="row">
		<div class="border border-dark my-5 p-2">
    	<h4>トレーナー一覧</h4>
    </div>
  </div>

	<div class="row">
		<table class="table table-bordered">
			<thead class="thead_member">
	  		<tr>
		  		<th>トレーナーID</th>
		  		<th>氏名</th>
		  		<th>ユーザーネーム</th>
		  		<th>ステータス</th>
	  		</tr>
	  	</thead>

	  	<tbody>
	  		<% @trainers.each do |trainer| %>
	  			<tr>
		  			<td><%= trainer.id %></td>
		  			<td><%= link_to trainer.name, admin_trainer_path(trainer.id) %></td>
		  			<td><%= trainer.user_name %></td>
		    		<% if trainer.is_delete %>
          		<td>退会</td>
        		<% else %>
          		<td>有効</td>
        		<% end %>
      		</tr>
      	<% end %>
	  	</tbody>
		</table>
	</div>
</div>